@model BaseAdminTemplate.Web.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="tableStyle">
            <h4>Profil Güncelleme Ekranı</h4>
            <hr />
            @{
                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }
                else if (ViewBag.WarningMessage != null)
                {
                    <div class="alert alert-warning" role="alert">
                        @ViewBag.WarningMessage
                    </div>
                }
                else if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.SuccessMessage
                    </div>
                }
            }
            <div style="width: 50%;">
                <hr />
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Password)
                @Html.HiddenFor(model => model.LastLoginDateTime)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.UpdateDate)
                @Html.HiddenFor(model => model.IsActive)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="bottom-button">
                            <input type="submit" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
