@model IEnumerable<BaseAdminTemplate.Web.Models.ViewModels.UserViewModel>
@{
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div class="tableStyle">
    <div class="pull-left"> <button id="exporttable" class="btn pull-left btn-round btn-primary">Export</button> </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="display" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Last Login Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td class="edit" data-record_id="@user.Id" data-propertyname="Name">@user.Name</td>
                                <td class="edit" data-record_id="@user.Id" data-propertyname="Surname">@user.Surname</td>
                                <td class="edit" data-record_id="@user.Id" data-propertyname="Email">@user.Email</td>
                                <td class="edit" data-record_id="@user.Id" data-propertyname="Phone">@user.Phone</td>
                                <td class="editSelect" data-record_id="@user.Id" data-propertyname="Role">@user.Role?.Name</td>
                                <td>@user.LastLoginDateTime</td>
                                <td class="noExl" style="text-align: center; width: 10%">
                                    <a data-id=@user.Id class="open-AddBookDialog btn btn-round btn-danger" href="#addBookDialog">Deactivate</a>
                                    <a data-id=@user.Id class="open-deleteDialog btn btn-round btn-danger" href="#delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addBookDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm to deactivate</h4>
            </div>
            @using (Html.BeginForm("Deactivate", "User", FormMethod.Post))
            {
                <input type="hidden" name="userId" id="roleId" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Deactivate</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm to delete</h4>
            </div>
            @using (Html.BeginForm("Delete", "User", FormMethod.Post))
            {
                <input type="hidden" name="userId" id="roleIdForDelete" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).on("click",
            ".open-AddBookDialog",
            function (e) {
                e.preventDefault();
                var _self = $(this);
                var roleId = _self.data('id');
                $("#roleId").val(roleId);
                $(_self.attr('href')).modal('show');
            });

        $(document).on("click",
            ".open-deleteDialog",
            function (e) {
                e.preventDefault();
                var _self = $(this);
                var roleId = _self.data('id');
                $("#roleIdForDelete").val(roleId);
                $(_self.attr('href')).modal('show');
            });
    </script>

    <script>
        $('tbody').on('click', 'tr', function () {
            $(document).ready(function () {
                var oldValue = '';
                $('.edit').editable('/User/Edit',
                    {
                        cssclass: 'jeditForm',
                        tooltip: 'click to edit me...',
                        width: 'none',
                        height: 'none',
                        submit: 'Ok',
                        cancel: 'Cancel',
                        onsubmit: function (settings, original) {
                            oldValue = original.revert;
                        },
                        submitdata: function () {
                            return {
                                id: $(this).data('record_id'),
                                PropertyName: $(this).data('propertyname')
                            }
                        },
                        callback: function (value, settings) {
                            var jsonData = $.parseJSON(value);
                            if (jsonData.status) {
                                $(this).text(jsonData.value);
                            } else {
                                $(this).text(oldValue);
                                alert(jsonData.message);
                            }
                        }
                    });
            });

            $(document).ready(function () {
                var oldValue = '';
                $('.editSelect').editable('/User/Edit',
                    {
                        cssclass: 'jeditForm',
                        tooltip: 'click to edit me...',
                        width: 'none',
                        height: 'none',
                        type: 'select',
                        submit: 'Ok',
                        cancel: 'Cancel',
                        loadurl: '/Role/GetRolesWithUserId',
                        loaddata: function () {
                            return { id: $(this).data('record_id') }
                        },
                        onsubmit: function (settings, original) {
                            oldValue = original.revert;
                        },
                        submitdata: function () {
                            return {
                                id: $(this).data('record_id'),
                                PropertyName: $(this).data('propertyname')
                            }
                        },
                        callback: function (value, settings) {
                            var jsonData = $.parseJSON(value);
                            if (jsonData.status) {
                                $(this).text(jsonData.value);
                            } else {
                                $(this).text(oldValue);
                                alert(jsonData.message);
                            }
                        }
                    });
            });

            $('.editSelect').click(function () {
                $('select', this).addClass('form-control pull-left w100');
                $('button', this).addClass('btn btn-sm btn-success');
            });

            $('.edit').click(function () {
                $('button', this).addClass('btn btn-sm btn-success');
            });
        });
    </script>
}