@model IEnumerable<BaseAdminTemplate.Web.Models.ViewModels.UserViewModel>
@{
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div class="tableStyle">
    <div class="pull-left"> <button id="exporttable" class="btn pull-left btn-round btn-primary">Export</button> </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="display" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Last Login Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Surname</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Role</td>
                                <td>@user.LastLoginDateTime</td>
                                <td style="text-align: center; width: 10%">
                                    <a data-id=@user.Id class="open-AddBookDialog btn btn-round btn-danger" href="#addBookDialog">Restore</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addBookDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm to restore</h4>
            </div>
            @using (Html.BeginForm("Restore", "User", FormMethod.Post))
            {
                <input type="hidden" name="userId" id="roleId" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Restore</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).on("click",
            ".open-AddBookDialog",
            function (e) {
                e.preventDefault();
                var _self = $(this);
                var roleId = _self.data('id');
                $("#roleId").val(roleId);
                $(_self.attr('href')).modal('show');
            });
    </script>
}